/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * RivalNetworks implementation : © Evan Pulgino <evan.pulgino@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * rivalnetworks.css
 *
 * RivalNetworks stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (rivalnetworks_rivalnetworks.tpl), and to HTML elements you create dynamically
    (in rivalnetworks.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */

/**
 * LAYOUT
 */
#rn_timeslots {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.rn-timeslot-panel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
}

.rn-show-panel {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}

.rn-stars-panel {
    --gap: -11rem;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    margin-left: calc(-1 * var(--gap));
    z-index: 2;
    left: 120px;
    top: 40px;
}

.rn-stars-panel > * {
    margin-left: var(--gap);
}

/**
 * SHOWS
 */
.rn-show {
    display: inline-block;
    position: relative;
    width: 210px;
    height: 150px;
    border-radius: 5%;
    box-shadow: 1px 1px 1px 0 #000000a0;
    background-image: url('img/rn_shows.png');
}
div.rn-show:hover {
    transform: scale(1.05);
    z-index: 100;
}

.rn-show-action-0 { background-position: 40% 33.33%; }
.rn-show-action-1 { background-position: 0 50%; }
.rn-show-action-2 { background-position: 20% 50%; }
.rn-show-action-3 { background-position: 40% 50%; }

.rn-show-documentaries-0 { background-position: 0 0; }
.rn-show-documentaries-1 { background-position: 20% 0; }
.rn-show-documentaries-2 { background-position: 0 16.67%; }
.rn-show-documentaries-3 {background-position: 20% 16.67%; }

.rn-show-drama-0 { background-position: 80% 0; }
.rn-show-drama-1 { background-position: 80% 16.67%; }
.rn-show-drama-2 { background-position: 80% 33.33%; }
.rn-show-drama-3 { background-position: 80% 50%; }

.rn-show-gameshows-0 { background-position: 40% 0; }
.rn-show-gameshows-1 { background-position: 40% 16.67%; }
.rn-show-gameshows-2 { background-position: 0 33.33%; }
.rn-show-gameshows-3 { background-position: 20% 33.33%; }

.rn-show-reality-0 { background-position: 80% 66.67%; }
.rn-show-reality-1 { background-position: 0 83.33%; }
.rn-show-reality-2 { background-position: 20% 83.33%; }
.rn-show-reality-3 { background-position: 40% 83.33%; }

.rn-show-scifi-0 { background-position: 0 66.67%; }
.rn-show-scifi-1 { background-position: 20% 66.67%; }
.rn-show-scifi-2 { background-position: 40% 66.67%; }
.rn-show-scifi-3 { background-position: 60% 66.67%; }

.rn-show-season-0 { background-position: 60% 100%; }
.rn-show-season-1 { background-position: 80% 100%; }
.rn-show-season-2 { background-position: 100% 0; }
.rn-show-season-3 { background-position: 100% 16.67%; }
.rn-show-season-4 { background-position: 100% 33.33%; }
.rn-show-season-finale { background-position: 40% 100%; }

.rn-show-sitcom-0 { background-position: 60% 0; }
.rn-show-sitcom-1 { background-position: 60% 16.67%; }
.rn-show-sitcom-2 { background-position: 60% 33.33%; }
.rn-show-sitcom-3 { background-position: 60% 50%; }

.rn-show-sports-0 { background-position: 60% 83.33%; }
.rn-show-sports-1 { background-position: 80% 83.33%; }
.rn-show-sports-2 { background-position: 0 100%; }
.rn-show-sports-3 { background-position: 20% 100%; }

/**
 * TIMESLOTS
 */
.rn-star {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 98.5px;
    border-radius: 5%;
    box-shadow: 1px 1px 1px 0 #000000a0;
    background-image: url('img/rn_stars.png');
}

div.rn-star:hover {
    transform: scale(1.05);
    z-index: 100;
}

/**
 * TIMESLOTS
 */
.rn-timeslot {
    display: inline-block;
    position: relative;
    width: 325.5px;
    height: 237px;
    box-shadow: 1px 1px 1px 0 #000000a0;
    background-image: url('img/rn_timeslots.png');
}

#rn_timeslot_green_room { background-position: 0 0; }
#rn_timeslot_8pm { background-position: 100% 0; }
#rn_timeslot_9pm { background-position: 100% 50%; }
#rn_timeslot_10pm { background-position: 100% 100%; }
#rn_timeslot_reruns { background-position: 50% 100%; }