/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * RivalNetworks implementation : © Evan Pulgino <evan.pulgino@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * rivalnetworks.css
 *
 * RivalNetworks stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (rivalnetworks_rivalnetworks.tpl), and to HTML elements you create dynamically
    (in rivalnetworks.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */

/**
 * GENERIC
 */
html {
    background-image: url('img/rn_table.jpg');
}

.rn-in-deck {
    position: absolute;
}

/**
 * LAYOUT
 */
#rn_layout {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.rn-playerarea {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 95%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #000000a0;
}

.rn-playerarea-blue {
    background-image: linear-gradient(to right, rgba(2, 158, 218, 1), rgba(2, 158, 218, 0));
}

.rn-playerarea-yellow {
    background-image: linear-gradient(to right, rgba(255, 165, 0, 1), rgba(255, 165, 0, 0));
}

.rn-active-turn-viewers {
    --gap: -4.5rem;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    margin-left: calc(-1 * var(--gap));
    padding-left: 10px;
}

.rn-active-turn-viewers > * {
    margin-left: var(--gap);
}

.rn-greenroom {
    --gap: -7.5rem;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    margin-left: calc(-1 * var(--gap));
}

.rn-greenroom > * {
    margin-left: var(--gap);
}

.rn-reruns {
    --gap: -11rem;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    margin-left: calc(-1 * var(--gap));
}

.rn-reruns > * {
    margin-left: var(--gap);
}

#rn_timeslots {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    order: 2;
}

.rn-timeslot-panel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
}

.rn-show-panel {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}

.rn-stars-panel {
    --gap: -11rem;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    margin-left: calc(-1 * var(--gap));
    z-index: 2;
    left: 120px;
    top: 40px;
}

.rn-stars-panel > * {
    margin-left: var(--gap);
}

#rn_showdisplay {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to right, rgba(76,76,75,1), rgba(76,76,75,0));
    gap: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    order: 4;
}

#rn_showdeck {
    --gap: -13.3rem;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    margin-left: calc(-1 * var(--gap));
    order: 0;
}

#rn_showdeck > * {
    margin-left: var(--gap);
    transform: unset !important;
    z-index: unset !important;
}

/**
 * HOUSES
 */
.rn-house {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 84px;
    background-image: url('img/rn_houses.png');
}

.rn-house-blue { background-position: 0 0; margin-left: -30px; }
.rn-house-yellow { background-position: 100% 0; margin-right: -30px; }

/**
 * SHOWS
 */
.rn-show {
    display: inline-block;
    position: relative;
    width: 210px;
    height: 150px;
    border-radius: 5%;
    box-shadow: 1px 1px 1px 0 #000000a0;
    background-image: url('img/rn_shows.png');
}

div.rn-show:hover {
    transform: scale(1.05);
    z-index: 100;
}

.rn-show-action-0 { background-position: 40% 33.33%; }
.rn-show-action-1 { background-position: 0 50%; }
.rn-show-action-2 { background-position: 20% 50%; }
.rn-show-action-3 { background-position: 40% 50%; }

.rn-show-documentaries-0 { background-position: 0 0; }
.rn-show-documentaries-1 { background-position: 20% 0; }
.rn-show-documentaries-2 { background-position: 0 16.67%; }
.rn-show-documentaries-3 {background-position: 20% 16.67%; }

.rn-show-drama-0 { background-position: 80% 0; }
.rn-show-drama-1 { background-position: 80% 16.67%; }
.rn-show-drama-2 { background-position: 80% 33.33%; }
.rn-show-drama-3 { background-position: 80% 50%; }

.rn-show-gameshows-0 { background-position: 40% 0; }
.rn-show-gameshows-1 { background-position: 40% 16.67%; }
.rn-show-gameshows-2 { background-position: 0 33.33%; }
.rn-show-gameshows-3 { background-position: 20% 33.33%; }

.rn-show-reality-0 { background-position: 80% 66.67%; }
.rn-show-reality-1 { background-position: 0 83.33%; }
.rn-show-reality-2 { background-position: 20% 83.33%; }
.rn-show-reality-3 { background-position: 40% 83.33%; }

.rn-show-scifi-0 { background-position: 0 66.67%; }
.rn-show-scifi-1 { background-position: 20% 66.67%; }
.rn-show-scifi-2 { background-position: 40% 66.67%; }
.rn-show-scifi-3 { background-position: 60% 66.67%; }

.rn-show-season-0-back { background-position: 60% 100%; }
.rn-show-season-1-back { background-position: 80% 100%; }
.rn-show-season-2-back { background-position: 100% 0; }
.rn-show-season-3-back { background-position: 100% 16.67%; }
.rn-show-season-4-back { background-position: 100% 33.33%; }

.rn-show-season-finale-4 { background-position: 40% 100%; }

.rn-show-sitcom-0 { background-position: 60% 0; }
.rn-show-sitcom-1 { background-position: 60% 16.67%; }
.rn-show-sitcom-2 { background-position: 60% 33.33%; }
.rn-show-sitcom-3 { background-position: 60% 50%; }

.rn-show-sports-0 { background-position: 60% 83.33%; }
.rn-show-sports-1 { background-position: 80% 83.33%; }
.rn-show-sports-2 { background-position: 0 100%; }
.rn-show-sports-3 { background-position: 20% 100%; }

/**
 * STARS
 */
.rn-star {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 98.5px;
    border-radius: 5%;
    box-shadow: 1px 1px 1px 0 #000000a0;
    background-image: url('img/rn_stars.png');
}

div.rn-star:hover {
    transform: scale(1.05);
    z-index: 100;
}

.rn-star-0 { background-position: 20% 100%; }
.rn-star-1 { background-position: 40% 0; }
.rn-star-2 { background-position: 60% 0; }
.rn-star-3 { background-position: 80% 0; }
.rn-star-4 {background-position: 100% 0; }
.rn-star-5 { background-position: 0 14.29%; }
.rn-star-6 { background-position: 20% 14.29%; }
.rn-star-7 { background-position: 40% 14.29%; }
.rn-star-8 { background-position: 60% 14.29%; }
.rn-star-9 { background-position: 80% 14.29%; }
.rn-star-10 { background-position: 100% 14.29%; }
.rn-star-11 { background-position: 0 28.57%; }
.rn-star-12 { background-position: 20% 28.57%; }
.rn-star-13 { background-position: 40% 28.57%; }
.rn-star-14 { background-position: 60% 28.57%; }
.rn-star-15 { background-position: 80% 28.57%; }
.rn-star-16 { background-position: 100% 28.57%; }
.rn-star-17 { background-position: 0 42.86%; }
.rn-star-18 { background-position: 60% 42.86%; }
.rn-star-19 { background-position: 80% 42.86%; }
.rn-star-20 { background-position: 100% 42.86%; }
.rn-star-21 { background-position: 0 57.14%; }
.rn-star-22 { background-position: 20% 57.14%; }
.rn-star-23 { background-position: 40% 57.14%; }
.rn-star-24 { background-position: 60% 57.14%; }
.rn-star-25 { background-position: 80% 57.14%; }
.rn-star-26 { background-position: 100% 57.14%; }
.rn-star-27 { background-position: 0 71.43%; }
.rn-star-28 { background-position: 20% 71.43%; }
.rn-star-29 { background-position: 40% 71.43%; }
.rn-star-30 { background-position: 60% 71.43%; }
.rn-star-31 { background-position: 80% 71.43%; }
.rn-star-32 { background-position: 0 85.74%; }
.rn-star-33 { background-position: 20% 85.74%; }
.rn-star-34 { background-position: 40% 85.74%; }
.rn-star-35 { background-position: 60% 85.74%; }
.rn-star-36 { background-position: 80% 85.74%; }

.rn-star-mega-0 { background-position: 40% 100%; }
.rn-star-mega-1 { background-position: 20% 42.86%; }
.rn-star-mega-2 { background-position: 40% 42.86%; }
.rn-star-mega-3 { background-position: 100% 71.43%; }
.rn-star-mega-4 { background-position: 100% 85.74%; }

.rn-star-starter-0 { background-position: 0 100%; }
.rn-star-starter-1 { background-position: 0 0; }
.rn-star-starter-2 { background-position: 20% 0; }


/**
 * TIMESLOTS
 */
.rn-timeslot {
    display: inline-block;
    position: relative;
    width: 325.5px;
    height: 237px;
    box-shadow: 1px 1px 1px 0 #000000a0;
    background-image: url('img/rn_timeslots.png');
}

#rn_timeslot_green_room { background-position: 0 0; }
#rn_timeslot_8pm { background-position: 100% 0; }
#rn_timeslot_9pm { background-position: 100% 50%; }
#rn_timeslot_10pm { background-position: 100% 100%; }
#rn_timeslot_reruns { background-position: 50% 100%; }

/**
 * VIEWER CHIP
 */
.rn-viewerchip {
   display: inline-block;
   position: relative;
   width: 65px;
   height: 65px;
   border: 2px dashed;
   border-radius: 50%;
   box-shadow: 1px 1px 1px 0 #000000a0;
   background-image: url('img/rn_viewerchip.png');
}